<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/icons/bootstrap-icons.min.css'>
  </head>
  <body>
        <% include ./partials/nav %>
        <h1><%= title %></h1>
        <div class="card" style="width: 50%">
        <form method="delete" action="/delete/<%=blog._id%>" style="padding: 20px">
            <div class="form-group">
                <label for="blogTitle" class="text-info">Blog Title</label>
                <input class="form-control" id="blogTitle" name="blogTitle" value="<%=blog.blogTitle%>" readonly></textarea>

                <label for="blogText" class="text-info">Blog Text</label>
                <input class="form-control" id="blogText" name="blogText" value="<%=blog.blogText%>" readonly></textarea>
            </div>
                <input type="submit" class="btn btn-info" value="Delete Blog">
        </form>
        </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>